*{
    padding: 0;
    margin: 0;

}
body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
  
  
}

/*Navbar Styling*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.left-nav{
    display: flex;
    color: white;
    align-items: center;
}

.logo{
    font-size: 32px;
    margin: 16px;

}

.home{
    font-size: 27.2px;
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 50px;
    color: rgb(179, 179, 179);
    transition: 0.2s;

}

.home:hover{
    background-color: rgb(76, 76, 76);
    transform: scale(1.1);
}

.search{
    display: flex;
    height: 48px;
    width: 480px;
    border-radius: 50px;
    background-color: #1f1f1f;
    align-items: center;
}
.search:hover{
    background-color: #3c3c3c;
    
}

.search-icon{
    font-size:24px;
    color: rgb(179, 179, 179);
    padding: 0 11.2px;
}

.search:hover .search-icon{
    color: white;
}

.input-box{
    width: 78%;
    height: 60%;
    background-color: rgba(0, 255, 229, 0);
    border: none;
    color: white;
    font-size: 19.2px;
    border-right: 1px solid rgba(179, 179, 179, 0.5);
}

.browse{
    font-size: 20.8px;
    margin: 6.9px;
    transition: 0.2s;

}
.browse:hover{
    transform: scale(1.1s);
}

.right-nav{
    color: white;
    display: flex;
    align-items: center;
    width: 50%;
    padding-right: 0px;
}
.right1{
    display: flex;
    padding-right:20px;
    align-items: center;
    margin: 0 16px 0 0;
    height: 27.2px;
    border-right: 2px solid rgb(179, 179, 179);
    padding-left: 115px;
}
.right1 p{
    padding: 0 6px;
    font-weight: 700;
    color: rgb(179, 179, 179);
    transition: 0.1s;
    font-size:15px;
}

.right1 p:hover{
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.right2{
    display: flex;
    padding-left:auto;
    padding-right: 0px;
    align-items: center;
    margin: 0 16px 0 0;
    height: 27.2px;
    font-size:15px;
    
}
.install{
    font-weight: 700;
    color: rgb(179, 179, 179);
    transition: 0.1s;
    padding: 0 8px;
}
.install:hover{
    color: white;
    
}
.sing-up{
    font-weight: 700;
    color: rgb(179, 179, 179);
    transition: 0.1s;
    padding-left: 16px;
}

.sing-up:hover{
    color: white;
    
}

.log-in{
    font-weight: 600;
    color:black;
    background-color: white;
    border:0 solid white;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-right: auto;
}
.log-in:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}



