*{
    padding: 0;
    margin: 0;

}
body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
  
  
}

/*Navbar Styling*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.left-nav{
    display: flex;
    color: white;
    align-items: center;
}

.logo{
    font-size: 40px;
    margin: 16px;

}

.home{
    font-size: 27.2px;
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 50px;
    color: rgb(179, 179, 179);
    transition: 0.2s;

}

.home:hover{
    background-color: rgb(76, 76, 76);
    transform: scale(1.1);
}

.search{
    display: flex;
    height: 48px;
    width: 480px;
    border-radius: 50px;
    background-color: #1f1f1f;
    align-items: center;
}
.search:hover{
    background-color: #3c3c3c;
    
}
