*{
    padding: 0;
    margin: 0;

}
body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
  
  
}

/*Navbar Styling*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.left-nav{
    display: flex;
    color: white;
    align-items: center;
}

.logo{
    font-size: 32px;
    margin: 16px;

}

.home{
    font-size: 27.2px;
    background-color: #1f1f1f;
    padding: 8px;
    border-radius: 50px;
    color: rgb(179, 179, 179);
    transition: 0.2s;

}

.home:hover{
    background-color: rgb(76, 76, 76);
    transform: scale(1.1);
}

.search{
    display: flex;
    height: 48px;
    width: 480px;
    border-radius: 50px;
    background-color: #1f1f1f;
    align-items: center;
}
.search:hover{
    background-color: #3c3c3c;
    
}

.search-icon{
    font-size:24px;
    color: rgb(179, 179, 179);
    padding: 0 11.2px;
}

.search:hover .search-icon{
    color: white;
}

.input-box{
    width: 78%;
    height: 60%;
    background-color: rgba(0, 255, 229, 0);
    border: none;
    color: white;
    font-size: 19.2px;
    border-right: 1px solid rgba(179, 179, 179, 0.5);
}

.browse{
    font-size: 20.8px;
    margin: 6.9px;
    transition: 0.2s;

}
.browse:hover{
    transform: scale(1.1s);
}



