*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: arial, sans-serif;
}

.sidebar{
    background-color: #000000;
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
}
.sidebar-navbar{
    background-color: #111111;
    border-radius: 11px;
    padding: 20px 10px;
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 10px;




}
.sidebar-navbar .logo{
   width: 120px;
    
}

.sidebar-navbar .logo img{
    width: 100%;
    
}
.sidebar-navbar ul{
    list-style: none;
    
}
.sidebar-navbar ul li{
    padding: 10px 20px;

    
}
.sidebar-navbar ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar-navbar ul li a i{
    font-size: 20px;
    margin-right: 10px;

}

.Library::after{
    content: '';
    display: block;
    height: 1px;
    background-color: #111111;
    margin: 10px 0;
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background-color: #302f2f;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.sidebar-scroli{
    height: 120px;
    overflow-y: auto;

}
.sidebar-scroli::-webkit-scrollbar{
    background: transparent;

}
.sidebar-scroli::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}

.sidebar-scroli:hover::-webkit-scrollbar-thumb{
    background: rgb(214, 214, 214);
    width: 5px;

}

.create-playlist h4{
    color: white;
    font-size: 15px;



}
.create-playlist p{
    color: white;
    font-size: 12px;
    margin: 12px 0;


}
.create-playlist button{
    padding: 8px 20px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    font-weight: 600;
    margin-bottom: 10px;

}

/* Privacy section styles */
.privacy ul li a{
    text-decoration: none;
    color: #575656;
    font-size: 11px;
    font-weight: 600;
    margin: 0 5px;
}
.privacy ul{
    list-style: none;
     margin-top: 10px;
}

.privacy ul li{
    padding: 0px;
    padding-bottom: 8px;


   
}
.English-btn{
    padding: 20px 30px;

}
.English-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;

}
.English-btn button:hover{
    border: 1px solid white;
    cursor: pointer;

}


/* Main section*/
.main-section{
    margin-left: 305px;
    background-color: #181818;
    margin-top: 6.5px;
    height: 100vh;

}
.main-section .top-nev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #131212;


}
.main-section .top-nev button{
    background: transparent;
    outline: 0;
    border: 0;
}

.main-section .top-nev .prev-btn button i{
    color: #838181;
    font-size: 20px;
    margin-right: 15px;
}


.top-nev .login-btn .sign-up{
    font-size: 16.1px;
    color: #838181;
    font-weight: 600;
    margin-right: 20px;

}
.top-nev .login-btn .sign-up:hover{
    color: rgb(255, 255, 255);


    
}

.top-nev .login-btn .login{
    font-size: 16.1px;
    color: #242323;
    font-weight: 600;
    background-color: white;
    padding:10px 16px;
    border-radius: 20px;
 
}

.top-nev .login-btn .login:hover{
    background-color: #f3f3f3;
}


.spotify-playlist{
    padding: 20px 40px;

}
.spotify-playlist h2{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;

}
.spotify-playlist .card{
    display: flex;
    gap:20px;
    overflow: hidden;
}

.spotify-playlist .card .item{
    width: 160px;
    min-width: 140px;
    background-color: #272626;
    cursor: pointer;
    padding: 15px;

}

.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;

    
}


