*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: arial, sans-serif;
}

.sidebar{
    background-color: #000000;
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
}
.sidebar-navbar{
    background-color: #111111;
    border-radius: 11px;
    padding: 20px 10px;
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 10px;




}
.sidebar-navbar .logo{
   width: 120px;
    
}

.sidebar-navbar .logo img{
    width: 100%;
    
}
.sidebar-navbar ul{
    list-style: none;
    
}
.sidebar-navbar ul li{
    padding: 10px 20px;

    
}
.sidebar-navbar ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar-navbar ul li a i{
    font-size: 20px;
    margin-right: 10px;

}

.Library::after{
    content: '';
    display: block;
    height: 1px;
    background-color: #111111;
    margin: 10px 0;
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}
.create-playlist{
    background-color: #302f2f;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.sidebar-scroli{
    height: 120px;
    overflow-y: auto;

}
.sidebar-scroli::-webkit-scrollbar{
    background: transparent;

}
.sidebar-scroli::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}

.sidebar-scroli:hover::-webkit-scrollbar-thumb{
    background: rgb(214, 214, 214);
    width: 5px;

}

.create-playlist h4{
    color: white;
    font-size: 15px;



}
.create-playlist p{
    color: white;
    font-size: 12px;
    margin: 12px 0;


}
.create-playlist button{
    padding: 8px 20px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    font-weight: 600;
    margin-bottom: 10px;

}

/* Privacy section styles */
.privacy ul li a{
    text-decoration: none;
    color: #575656;
    font-size: 11px;
    font-weight: 600;
    margin: 0 5px;
}
.privacy ul{
    list-style: none;
     margin-top: 10px;
}

.privacy ul li{
    padding: 0px;
    

   
}


